*.pyc
*.db
*.lock
backend/.env
*.bin
/mobile_android_java/.gradle
/mobile_android_java/.gradle
/mobile_android_java/app/build
/mobile_android_java/app/build
/mobile_android_java/.idea
/mobile_android_java/.gradle
*.lock
*.lock
*.lock
mobile_android_java/.gradle/buildOutputCleanup/buildOutputCleanup.lock
mobile_android_java/app/build/intermediates/incremental/debug/packageDebugResources/compile-file-map.properties
mobile_android_java/app/build/intermediates/incremental/debugAndroidTest/mergeDebugAndroidTestResources/compile-file-map.properties
